<div id="headerwrap">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-8 col-lg-offset-2">
        <h3></h3>
        <h1>deli boy records & tapes</h1>
        <h5></h5>
        <h5></h5>
      </div> -->
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="assets/img/browser.png" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg img-spacer">
                <img src="assets/img/cover.png" class="img-responsive">
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->

<div id="service">
    <div class="container">
        <div class="row centered">
            <h3>releases</h3>
            <div class="col-md-4">
                <iframe style="border: 0; width: 270px; height: 270px;" src="https://bandcamp.com/EmbeddedPlayer/album=3041583427/size=large/bgcol=ffffff/linkcol=f171a2/minimal=true/transparent=true/" seamless><a href="http://bigbabyband.bandcamp.com/album/if-youre-not-a-baby-youre-too-old">If You&#39;re Not a Baby, You&#39;re Too Old by Big Baby</a></iframe>
                <!-- <h4>big baby</h4> -->
                <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>
            <div class="col-md-4">
                <iframe style="border: 0; width: 270px; height: 270px;" src="https://bandcamp.com/EmbeddedPlayer/album=3547662141/size=large/bgcol=ffffff/linkcol=f171a2/minimal=true/transparent=true/" seamless><a href="http://sculptureclub.bandcamp.com/album/a-place-to-stand">A Place to Stand by Sculpture Club</a></iframe>
                <!-- <h4>sculpture club</h4> -->
                <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>
            <div class="col-md-4">
                <iframe style="border: 0; width: 270px; height: 270px;" src="https://bandcamp.com/EmbeddedPlayer/track=651307119/size=large/bgcol=ffffff/linkcol=f171a2/minimal=true/transparent=true/" seamless><a href="http://humanleatherr.bandcamp.com/track/nail-in-coffin">nail in coffin by Human Leather</a></iframe>
                <!-- <p>human leather<p>
        <p>deli 01</p>
        <p>digital</p> -->
                <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
            </div>
        </div>
    </div>
</div>

<div id="portfoliowrap">
    <h3>friends</h3>

    <div class="portfolio-centered">
        <div class="recentitems portfolio">
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="assets/img/portfolio/portfolio_01.jpg" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">sculpture club</h3>
                            <a href="https://www.facebook.com/sculptureclubslc/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-bolt"></i></a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="assets/img/portfolio/portfolio_02.jpg" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">big baby</h3>
                            <a href="https://www.facebook.com/BigBabySLC/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-bolt"></i></a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="assets/img/portfolio/portfolio_03.jpg" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">baby ghosts</h3>
                            <a href="https://www.facebook.com/Baby-Ghosts-261609380528519/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-bolt"></i></a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="assets/img/portfolio/portfolio_04.jpg" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">choir boy</h3>
                            <a href="https://www.facebook.com/choirboychoirboy/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-bolt"></i></a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="assets/img/portfolio/portfolio_05.jpg" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">fossil arms</h3>
                            <a href="https://www.facebook.com/Fossil-Arms-275871782466955/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-bolt"></i></a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

        </div>
        <!-- portfolio -->
    </div>
    <!-- portfolio container -->
</div>
<!--/Portfoliowrap -->
